# menu "XGZF4000 Configuration"

#     config FLOW_RATE_UNIT
#         string "Unit for Flow Rate Measurement"
#         default "L/min"
#         option "L/min" if FLOW_RATE_UNIT_LMIN
#         option "m^3/h" if FLOW_RATE_UNIT_CMH
#         help
#           Choose the unit for measuring the flow rate:
#           - L/min: Liters per minute
#           - m^3/h: Cubic meters per hour
    
#     config FLOW_RATE_UNIT_LMIN
#         bool "Liters per minute (L/min)"
#         help
#           Select this option to measure the flow rate in liters per minute.
    
#     config FLOW_RATE_UNIT_CMH
#         bool "Cubic meters per hour (m³/h)"
#         help
#           Select this option to measure the flow rate in cubic meters per hour.
    
# endmenu
    